body {
	font-family: Roboto, sans-serif;
	margin: 64px 16vw;
	background: url("img/dsat1.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: top;
	color: #d0d0d0;
	font-size: 24px;
}

h1 {
	font-size: 4em;
	text-shadow: 8px 8px 0px black;
	margin-top: 120px;
}

.top p:first-of-type {
	padding: 1em;
	border-radius: 6px;
	width: 50%;
	margin: auto;
}

.top {
	margin-bottom: 4em;
	text-align: center;
}

#header-img {
	max-width: 600px;
	padding: 48px 0 48px 0;
}

.projects {

}

.proj {
	background: none;
	color: white;
	min-width: 150px;
	width: 90%;
	height: 400px;
	border-radius: 6px;
	margin: 1em;
	overflow: hidden;
	background-origin: border-box;
	background-position: 50% 50%;
	background-size: cover;
	transition: filter 0.2s;
}

.proj .pic {
	border-radius: 100%;
	width: 256px;
	height: 256px;
	float: left;
	margin-right: 32px;
	background-position: center;
	background-size: cover;
	box-shadow: 0px 4px 8px #00000070;
}

.proj hr {
	border: none;
	background: #808080;
	height: 1px;
}

#out {
	text-align: center;
	display: inline;
}

#out p, #out .title {
	text-align: left;
}

#out .title span {
	font-size: 22px;
	opacity: 0.5;
	padding-left: 1em; 
}

#out .info {
	display: inline;
}

#out img {
	border: 4px black solid;
	border-radius: 6px;
	margin-right: 1em;
	float: left;
	max-width: 50%;
}

.info button {
	border: none;
	background: #303030;
	color: #d0d0d0;
	box-shadow: 0px 3px 6px #00000060;
	font-size: 24px;
	padding: 12px;
	border-radius: 6px;
	float: right;
	transition: background-color 0.1s;
	cursor: pointer;
}

.info button:hover {
	background: #3b3b3b;
}

.proj:hover {
	filter: grayscale(0%);
}

#out {
	position: fixed;
	z-index: 1;
	width: 90vw;
	height: 100vh;
	filter: none;
	cursor: default;
	background: #d0d0d0;
	color: #202020;
	overflow-y: hidden;
	overflow-x: show;
}

#close {
	position: fixed;
	top: 8px;
	right: 8px;
	z-index: 3;
	background-image: url(img/close.svg);
	width: 48px;
	height: 48px;
	background-size: cover;
	cursor: pointer;
	background-color: #d0d0d0;
	border-radius: 100%;
}

.title a, .title a:link {
	font-weight: 100;
	color: #d0d0d090;
}

/* Filters Box */
#filters {
	position: fixed;
	top: 0;
	left: 12.5%;
	width: 75%;
	height: 70px;
	background: black;
	border-radius: 6px;
	z-index: 4;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	text-align: center;
	-webkit-user-select: none;
	user-select: none;
}

#filters img {
	display: inline;
	height: 80%;
	margin: 0 16px 0 16px;
	cursor: pointer;
	transition: border-radius 0.1s, background-color 0.1s, height 0.1s;
}

#filters img:hover {
	height: 90%;
}

#filters img.off {
	/* filter: grayscale(1);
	opacity: 0.1; */
	background: #303030;
	border-radius: 100%;
	padding: 4px;
}

#tooltip {
	position: relative;
	width: 100%;
	height: 0px;
	top: -8px;
	left: 0;
	background: black;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	color: #202020;
	font-size: 1.5em;
	font-weight: bold;
	transition: height 0.1s;
}

#tooltip.hovered {
	height: 50px;
}

p a {
	color: white;
}

#home-button {
	position: absolute;
	top: 1em;
	left: 1em;
	width: 60px;
	background: black;
	border-radius: 100%;
	padding: 6px;
	transition: background-color .1s;
}

#home-button:hover {
	background: #303030;
}

.giphy-embed {
	width: 80%;
}

.social img {
	display: inline-block;
	height: 48px;
	padding: 24px 1em 6px 1em;
	border-bottom: 2px solid transparent;
	transition: border-color 0.1s;
}

.social img:hover {
	border-color: white;
}

/* Mobile Styles */
@media only screen and (max-width: 1000px) {
	body {
		margin: 8px;
	}
	#out {
    	overflow-x: hidden;
		overflow-y: scroll;
		top: 0;
		left: 0;
		width: 100%;
	}
	#out .info * {
		margin: 4px;
	}
	.top {
		width: 100%;
	}
	.top h1 {
		word-wrap: break-word;
		font-size: 1.8em;
		margin-bottom: 3em;
	}
	.top p {
		width: 88% !important;
	}
	.proj {
		min-width: 95%;
		margin: 8px;
		margin-bottom: 64px;
		height: auto;
		filter: none;
	}
	.proj .pic {
		float: none;
		margin: auto;
	}
	#out .info img {
		margin: 0;
		width: 100%;
		max-width: unset;
		float: none;
		top: 0;
		left: 0;
		border: none;
		border-radius: 0;
		z-index: 2;
	}
	#out .info {
		display: block;
	}
	#out .title span {
		padding-left: 0;
		display: list-item;
	}
	#out button {
		position: fixed;
		right: 8px;
		bottom: 8px;
	}
	#filters {
		position: unset;
		width: 100%;
		left: 0;
		border-radius: 0;
		height: 180px;
	}
	#filters img {
		height: 45%;
		margin: 0 4px 0 4px;
	}
	#filters img:hover {
		height: 45%;
	}
}
