@import "burger";

@keyframes nav-wave {
  0%,  100% { color: var(--nav-color-dim); }
  50%       { color: var(--nav-color-bright); }
}

.nav { @include themed {
  font-size: 16px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 1;

  @media screen and (min-width: $medium) {
    display: block;
    visibility: visible;
    padding-top: 3em;
    width: $navWidth;
  }

  @media screen and (max-width: $medium) {
    background: t('col-bg');
  }
}}

.nav--active .nav {
  visibility: visible;
  height: 100%;
  width: 100%;

  @media screen and (min-width: $medium) {
    width: $navWidth;
  }
}

.nav__list {
  text-align: right;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50%;

  @media screen and (min-width: $medium) {
    width: auto;
  }

  @media screen and (max-width: $medium - 1) {
    transform: translateY(-25px);
    opacity: 0;
    .nav--active & {
      transform: translateY(0);
      opacity: 1;
      transition: all 500ms ease;
    }
  }
}

.nav__list li {
  margin-bottom: 3em;
  line-height: 1.5em;
  transition: transform 0.15s ease;

  &:last-of-type {
    margin-bottom: 0;
  }

  &.active {
    transform: translateX(2em);
  }

  @media screen and (min-width: $medium) {
    margin-bottom: 1.75em;
  }
}

.nav__item-bg { @include themed {
  display: inline-block;
  border-radius: 6px;
  padding: 2px 8px;
  background-color: t('col-mbg');

  &.active {
    background-color: t('col-primary-bg');
  }
}}

.nav__list a { @include themed {
  --nav-color-dim: #{t('col-mg')};
  --nav-color-bright: #{t('col-fg')};

  color: t('col-mg');
  text-decoration: none;
  font-size: 2em;
  animation: nav-wave 5s ease-in-out infinite;

  &.active {
    color: t('col-fg');
    animation: none;
  }

  &:hover {
    color: t('col-fg');
  }

  @media screen and (min-width: $medium) {
    font-size: 1em;
  }

  @for $i from 1 through 8 {
    .nav__list li:nth-child(#{$i}) & {
      animation-delay: #{($i - 1) * -0.7}s;
    }
  }
}}
