.post-list__container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;

  @media screen and (min-width: $medium) {
    padding-left: 50px;
  }
}

.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post {
  margin-bottom: 1.5rem;
}

.post__header {
  position: relative;
}

.post__desc { @include themed {
  color: t('col-bmg');
  font-size: 0.8rem;
  
  p {
    margin-top: 0.3em;
    line-height: 1.5em;
  }
}}

.post__title { @include themed {
  margin-top: 0;
  font-weight: 500;

  a {
    text-decoration: none;
  }
}}

// Date shown next to post list item
.post__date { @include themed {
  color: t('col-bg');
  background-color: t('col-mg');
  padding: 3px;
  line-height: 1em;
  border-radius: 4px;
  margin-top: 4px;
  font-size: 0.8rem;
  display: inline-block;
  position: absolute;
  left: -7em;

  @media screen and (max-width: $medium) {
    left: unset;
    position: relative;
    margin-bottom: 0.5em;
  }
}}
