.post-list__container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;

  @media screen and (min-width: $medium) {
    padding-left: 50px;
  }
}

.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.post {
  margin-bottom: 1.5rem;
}

.post__header {
  position: relative;
}

.post__desc { @include themed {
  color: t('col-bmg');
  font-size: 0.8rem;
  margin-left: 0;
  margin-right: 0;
  
  p {
    margin-top: 0.3em;
    line-height: 1.5em;
  }
}}

.post__title { @include themed {
  margin-top: 0;
  font-weight: 500;

  a {
    text-decoration: none;
  }
}}

// Date shown next to post list item
.post-date { @include themed {
  color: t('col-bg');
  background-color: t('col-mg');
  padding: 3px;
  line-height: 1em;
  border-radius: 4px;
  margin-top: 4px;
  font-size: 0.8rem;
  display: inline-block;
  font-weight: bold;
  width: 100%;
  text-align: center;

  &.wip {
    font-style: italic;
    color: t('col-mg');
    background-color: t('col-bbg');
  }
}}

.post-date__container {
  position: absolute;
  left: -6em;
  width: 5.5em;

  @media screen and (max-width: $medium) {
    left: unset;
    position: relative;
    margin-bottom: 0.5em;
  }
}

.post__img-container {
  border-radius: 4px;
  overflow: hidden;
  height: 12em;
  margin-top: 1em;
  background-position: center;
  background-size: cover;
}

.post__video-container {
  border-radius: 4px;
  overflow: hidden;
  height: 12em;
  margin-top: 1em;
  position: relative;

  video.post__video {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
    width: 100%;
  }
}