@import "partials/vars";

$medGrey: #e2e2e2;
$fullwidth: 42rem;

// Profile picture
img.profile-pic {
    width: 100px;
    float: left;
    margin-right: 1em;
}

// Latest blog post displayed on index page
.latest-post {
    font-size: 12px;
    border-radius: 4px;
    width: 60%;
    margin-top: 4em;

    .post__header {
        background-color: $medGrey;
        padding: 16px;
        border-radius: 4px;
    }

    >p {
        font-weight: bold;
        font-size: 18px;
        color: $medGrey;
    }
    
    h2 {
        margin-top: 0.5em;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
}

// Codepen embed
.cp_embed_wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
}

// Active nav link
.nav__list li>.indicator {
    background-color: #eeeeee;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    margin: -14px calc(100% + 6px);

    &.active {
        background-color: black;
    }

    @media screen and (max-width: $medium) {
        visibility: hidden;
    }
}

// Text links
p a, h1 a, h2 a, h3 a {
    color: #ac2121;
    &:visited {
        color: #6b1e1e;
    }
    &:hover {
        color: #eb2b2b;
    }
}

// External content
iframe {
    margin-top: 1em;
}

// Tags on blog posts
.post li a.tag__link {
    background: #e9e1e1;
    color: #a57a7a;

    &:hover {
        background: #dfc2c2;
    }
}

// Images in posts
.post img {
    max-width: 650px;
}

// Category on page links
.post__category {
    color: $grey;
    font-size: 0.8rem;
}

// Category on page links
.post__desc {
    color: $darkGrey;
    font-size: 0.8rem;

    p {
        margin-top: 0.3em;
        line-height: 1.5em;
    }
}

// Post
.post {
    max-width: $fullwidth;
}

// Post list container
.post-list__container {
    max-width: $fullwidth;
}

// Headers for list pages
.list__header {
    margin: 0 auto 50px;
    max-width: $fullwidth;
    width: 100%;
  
    @media screen and (min-width: $medium) {
      padding-left: 50px;
    }
}