$fullwidth: 42rem;

// From https://medium.com/@katiemctigue/how-to-create-a-dark-mode-in-sass-609f131a3995
$themes: (
  default: (
    col-fg: #202020,
    col-mbg: #e2e2e2,
    col-tborder: #eeeeee,
    col-mg: #9b9b9b,
    col-bmg: #717171,
    col-bg: #f7f7f7,
    col-primary: #62924c,
    col-primary-bg: #b9cfb4,
    col-primary-fg: #374933,
    col-primary-alt: #5c9251
  ),
  dark: (
    col-fg: #f7f7f7,
    col-mbg: #2e2e2e,
    col-tborder: #131313,
    col-mg: #797979,
    col-bmg: #c7c7c7,
    col-bg: #202020,
    col-primary: #aae68d,
    col-primary-bg: #63745f,
    col-primary-fg: #ace0a0,
    col-primary-alt: #63e44a
  ),
);

$theme-map: null;

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
