#theme-toggle-button {
    z-index: 10;
    width: 3rem;
    height: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    margin: 1em;
    top: 0;
    right: 0;
    &:hover {
        cursor: pointer;
    }
    .theme--default & {
        background-image: url('/svg/dark_mode.svg');
    }
    .theme--dark & {
        background-image: url('/svg/light_mode.svg');
    }
    @media screen and (max-width: $medium) {
        width: 2.5rem;
        height: 2.5rem;
        margin-top: 0.75em;
        margin-right: 1.5em;
    }
}