{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/posts.scss" "dest" "css/posts.css") }}
{{ end }}

{{ define "main" }}
    
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2 2006" }}

<header class="list__header">
  <h1 id="list__title">{{ .Title }}</h1>
</header>
<div class="list__desc">
  {{ partial "anchored-headings.html" .Content }}
</div>
<div class="post-list__container">
  <ul class="post-list">
    {{ range .Pages.ByDate.Reverse }}
    <li class="post">
      <div class="post__header">
        <div class="post-date__container">
          {{ if not .Params.is_wip }}
            <time class="post-date" datetime="{{ .Date }}">{{ .Date.Format $dateFormat }}</time>
          {{ else }}
            <time class="post-date wip" datetime="{{ now }}">WIP</time>
          {{ end }}
        </div>
        <h2 class="post__title">
          {{ if .Params.Outlink }}
            <a href="{{.Params.Outlink}}" target="_blank">{{ .Title }}</a>
          {{ else }}
            <a href="{{.RelPermalink}}">{{ .Title }}</a>
          {{ end }}
          {{ if .Params.Category }}
            <span class="post__category">
              ({{.Params.Category}})
            </span>
          {{ end }}
        </h2>
        {{ partial "tags.html" .}}
      </div>
      <div class="post__desc">
        <p>{{ .Params.Description }}
        </p>
      </div>
      {{ if .Params.Img }}
        {{ if .Params.Outlink }}
          <a href="{{.Params.Outlink}}" target="_blank">
        {{ else }}
          <a href="{{.RelPermalink}}">
        {{ end }}
        {{/*  Create background video embed if image has .webm extension  */}}
        {{ if eq (path.Ext .Params.Img) ".webm" }}
          <div class="post__video-container">
            <video class="post__video" autoplay loop muted playsinline>
              <source src="{{ .Params.Img }}" type="video/webm">
            </video>
          </div>
        {{ else }}
          <div class="post__img-container" style="background-image: url('{{ .Params.Img }}');"></div>
        {{ end }}
        </a>
      {{ end }}
    </li>
    {{ end }}
  </ul>
  {{ if (eq .Section "blog") }}
  {{ partial "browse-by-tag.html" .}}
  {{ end }}
</div>

{{ end }}
