body {
    font-family: Inter, sans-serif;
}

#drawing {
    height: 90%;
    border: 1px solid black;
    margin-right: 20%;
}

#wrapper {
    margin: auto;
    text-align: center;
    width: 100%;
    height: 90vh;
}

#inputs {
    position: absolute;
    right: 10px;
    top: 80px;
    background: white;
    width: 200px;
}

.input {
    text-align: left;
}

input {
    vertical-align: middle;
}
