@import "../main";

.splash-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  @media screen and (min-width: $medium) {
    font-size: 18px;
  }
}

.splash {
  width: 40em;

  h1 {
    font-size: 3em;
    line-height: 1;
    letter-spacing: -0.03em;
    margin: 0;
  }

  h2 {
    font-size: 2.25em;
    font-weight: 500;
    line-height: 1.25;
    max-width: 22em;
    letter-spacing: -0.03em;
  }
}

#splash-text {
  @media screen and (max-width: $medium) {
    height: 2em;
  }
}

.fancy { @include themed {
  color: t('col-primary');
}}

.splash-about { @include themed {
  margin-top: 1em;
  font-size: 0.9em;
  line-height: 1.6;
  max-width: 36em;
  color: t('col-bmg');

  a {
    color: t('col-primary');
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}}

/* overrides */

main {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
}

.social-icons {
  justify-content: flex-start;
  padding-top: 1rem;
  margin-left: -0.8rem; // offset to negate icon's padding to align with text above
}

article {
  overflow: hidden;
}