@import "../main";
@import "../partials/post-list";

.tags__list {
  list-style: none;
  margin: 0;
  padding: 0 0 0 50px;
  flex-shrink: 0;

  @media screen and (max-width: $medium - 1) {
    display: none;
  }
}

.post__header .tags__list {
  display: none;
  padding-left: 0;

  @media screen and (max-width: $medium - 1) {
    display: block;
  }

  .tag__item {
    display: inline-block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  .tag__link {
    font-size: 0.8rem;
  }
}

.list__desc {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 0 2.5rem 0;

  @media screen and (min-width: $medium) {
    padding-left: 50px;
  }
}

.post__desc {
  width: 100%;
  max-width: 34rem;
  margin: 0 auto;

  h2,
  h3 {
    position: relative;
    padding-top: 10px;

    .anchor {
      top: 0.5rem;
      text-decoration: none;
      position: absolute;
      left: -1rem;
      color: $grey;
      font-size: 1.2rem;
      font-weight: 400;
    }

    .anchor:hover {
      color: $darkGrey;
    }
  }

  blockquote {
    width: 95%;
    margin: 0 auto;
    font-size: 1rem;

    a {
      color: $darkGrey;
      text-decoration: underline;
    }
  }

  img {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
  }
}

.tag__link {
  text-decoration: none;
  color: $grey;
  font-size: 0.9rem;

  &::before {
    content: "#";
    font-size: 0.7rem;
    padding-right: 1px;
  }

  &:hover {
    color: $darkGrey;
  }
}

/* page overrides */
.post-list__container {
  display: flex;
  justify-content: space-between;
}
