<nav class="nav" id="navigation">
  <ul class="nav__list">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      {{ $active := or ($currentPage.IsMenuCurrent "main" .) (and (ne .Identifier "") (eq $currentPage.Section .Identifier)) (eq $currentPage.RelPermalink (print .URL "/")) (eq $currentPage.RelPermalink .URL) }}
      <li{{ if $active }} class="active"{{ end }}>
        <div class="nav__item-bg{{ if $active }} active{{ end }}">
          <a {{ if $active }} class="active" {{end}} href="{{ .URL }}">{{ .Name }}</a>
        </div>
        <div class = "indicator {{ if $active }} active {{end}}"></div>
      </li>
    {{ end }}
  </ul>
</nav>
