{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }}
{{ end }}

{{ define "main" }}

{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2 2006" }}    


<div class="splash-container">
  <div class="splash">
    
    <img src="{{ .Params.img | absURL }}" class="profile-pic" alt="">
    <h1>{{ .Params.heading }}</h1>
    {{ if isset .Params "handle" }}
    <span class="handle">@{{ .Params.handle }}</span>
    {{ end }}
    <h2 id="splash-text">
      {{ .Params.subheading }}
    </h2>

    {{ partial "social-icons.html" .}}
    <div class="latest-post">
      {{ range (first 1 (where .Site.RegularPages "Section" "blog")) }}
      <div class="post__header">
        <time class="post__date" datetime="{{ .Date }}"
          >{{ .Date.Format $dateFormat }}</time>
        <h2 class="post__title">
          <a href="{{.RelPermalink}}">{{ .Title }}</a>
        </h2>
      </div>
      {{ end }}
    </div>
  </div>
</div>

{{ end }}
